<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="auth">
  <h2 class="auth__title">Войти в систему</h2>
  <div class="input">
    <label for="login">Логин</label>
    <input
      formControlName="login"
      type="text"
      id="login"
    >
    <span
      *ngIf="form.get('login').invalid && form.get('login').touched"
    >
      <span *ngIf="form.get('login').errors['required']">Обязательное поле.</span>
      <span *ngIf="form.get('login').errors['email']">Некорректный емейл.</span>
    </span>
  </div>

  <div class="input">
    <label for="pass">Пароль</label>
    <input
      formControlName="pass"
      type="password"
      id="pass"
    >
    <span
      *ngIf="form.get('pass').invalid && form.get('pass').touched"
    >
      <span *ngIf="form.get('pass').errors['required']">Обязательное поле.</span>
      <span *ngIf="form.get('pass').errors['minlength']">Пароль должен состоять минимум из {{form.get('pass').errors['minlength']['requiredLength']}}. Сейчас - {{form.get('pass').errors['minlength']['actualLength']}}</span>
    </span>
  </div>


  <button
    [disabled]="form.invalid || form.disabled"
    type="submit"
    class="btn"
  >Войти</button>
</form>
