@import '../../variables.scss';
.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 50px;

  color: white;
  background-color: $darkBlue;
  box-shadow: 0 2px 10px -5px #fff;

  &__title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  input {
    width: 375px;
    margin: 0;
    padding: 10px 20px;
    border: none;
  }

  label {
    font-size: 18px;
  }


}

.btn {
  font-size: 18px;
  color: white;
  width: 375px;
  background-color: #39485E;
  margin-top: 40px;
  &:disabled {
    background-color: #cccccc;
    cursor: auto;
  }
}
