.charts > div {
  height: 320px;
  width: 45%;
  margin-bottom: 40px;
  padding-top: 20px;
  box-shadow: 0 2px 10px -5px #000000;
}
.charts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
