@import '../../../../variables.scss';
.main {
  position: relative;
  min-height: calc(100vh - 56px);
}

.location-business {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;

  background-color: $blue;

  input {
    margin-right: 5px;
  }

  img {
    width: 44px;
    height: 44px;
  }
}

.nav {
  display: flex;
  flex-direction: column;

  &__item {
    a {
      display: block;
      padding: 15px 30px;
      font-size: 18px;
      color: white;
      background-color: $darkBlue;
      border-bottom: 2px solid $blue;
    }
  }
  &__content {
    display: none;

    &.active {
      display: block;
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 340px;
  background-color: $blue;
  box-shadow: 2px 0 2px rgba(0,0,0,.1);

}

.content {
  margin-left: 340px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: white;
  transition: transform 0.3s ease;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: $gray;
  transition: .4s;
}
//input:focus + .slider {
//  box-shadow: 0 0 1px #2196F3;
//}
input:checked + .slider:before {
  transform: translateX(20px);
  background-color: $blue;
}


.slider.round:before {
  border-radius: 50%;
}

.company {
  display: flex;
  align-items: center;
  padding: 24px 30px;
  color: white;
  border-bottom: 2px solid $darkBlue;

  & .switch {
    margin-right: 20px;
    flex-shrink: 0;
  }
}
.board {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  //box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.25);
  label {
    display: flex;
    justify-content: space-between;
    width: 240px;
  }
}


.indicators {
  width: 33.3%;
  padding: 20px;
  border: 1px solid black;
  &.is-active {
    border-bottom: none;
  }
  &__item {
    display: flex;
    align-items: center;
    input {
      margin-right: 15px;
    }

    &.disabled {
      opacity: 0.6;
    }
  }
}
