<header class="header">
	<div class="header__in">
		<a routerLink="/">
			<div class="logo">Никмас</div>
		</a>

	</div>
</header>

<main class="main">
	<div class="sidebar">
		<div class="location-business">
			<div
				*ngFor="let country of locationBusiness"
				class="location-business__item"
			>
				<div class="checkbox">
					<input
						checked
						type="checkbox"
						id="{{country.id}}"
						(change)="onChangeBusiness($event)"
					>
					<label for="{{country.id}}">
						<img src="assets/img/{{country.imgSrc}}" alt="">
					</label>
				</div>
			</div>
		</div>

		<nav>
			<ul class="nav">
				<li
					*ngFor="let link of menu"
					class="nav__item">
					<a
						(click)="toggleAccordion(menu, link)"
					>
						{{link.title}}
					</a>

					<div
						[class.active]="link.active"
						class="nav__content"
					>
						<div *ngIf="link.id === 'companies'; else other">
							<div class="company"
								*ngFor="let company of activeCompanies"
							>
								<label class="switch">
									<input
										id="{{company.id}}"
										[checked]="company.active"
										type="checkbox"
										(change)="toggleActiveCompany($event)"
									>
									<span class="slider round"></span>
								</label>
								{{company.title}}
							</div>
						</div>
						<ng-template #other>
							<div
								*ngFor="let item of link.children"
							>
								{{item.title}}
							</div>
						</ng-template>
					</div>

				</li>
			</ul>
		</nav>
	</div>
	<div class="content">
		<div class="board">
			<a

				*ngFor="let indicator of indicators"
				id="{{indicator.id}}"
				routerLink="/{{indicator.id}}"
				routerLinkActive="is-active"
				(click)="onChangeIndicators($event, indicator.id)"
				class="indicators"
			>
				<div class="indicators__title">{{indicator.title}}</div>

				<div
					*ngFor="let child of indicator.children"
					class="indicators__item"
					[class.disabled]="child.id !== 'debit' && child.id !== 'credit' && child.id !== 'should'"
				>
<!--					<input-->
<!--              #indicator-->
<!--							(change)="onChangeIndicators($event)"-->
<!--							[checked]="child.checked"-->
<!--							type="checkbox"-->
<!--							id="{{child.id}}">-->
<!--					<label for="{{child.id}}">{{child.title}} <span><span *ngIf="child.total">$ </span>{{child.total}}</span></label>-->
					<p>{{child.title}} <span><span *ngIf="child.total">$ </span>{{child.total}}</span></p>
				</div>

			</a>
		</div>
		<router-outlet></router-outlet>
	</div>
</main>
