.nav {
  display: flex;
  height: 100%;
  &__item {
    display: flex;
    align-items: center;
    margin-right: 20px;

  }
  &__link {
    font-size: 18px;
    color: white;
  }
}

.main {
  position: relative;
  min-height: calc(100vh - 56px);

  background-color: #39485E;
}
