<header class="header">
  <div class="container">
    <div class="header__in">
      <a routerLink="/">
        <div class="logo">Никмас</div>
      </a>


      <nav>
        <ul class="nav">
          <li
            routerLinkActive="is-active"
            class="nav__item">
            <a
              routerLink="/login"
              class="nav__link"
            >Вход</a>
          </li>
          <li class="nav__item">
            <a routerLink="/register" class="nav__link">Регистрация</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

</header>

<main class="main">
  <router-outlet></router-outlet>
</main>
