@import '~bootstrap/dist/css/bootstrap.css';
@import 'variables.scss';

input, label, button, p, div, a, span {
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  padding: 10px 30px;
  color: white;
  background-color: $darkBlue;
  z-index: 10;
}
.header__in {
   display: flex;
   justify-content: space-between;
 }
.logo {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.charts > div {
  height: 360px;
  width: 50%;
}
.charts {
  display: flex;
  flex-wrap: wrap;
}

[aria-labelledby] {
  display: none;
}
* {
  box-sizing: border-box;
}
//.card-header {
//  padding: 0;
//}
//
//.sidebar {
//  .card {
//    border: none;
//    border-radius: 0;
//    margin: 0;
//    padding: 0;
//  }
//  .btn {
//    width: 100%;
//    padding: 20px 75px;
//    margin: 0;
//
//    text-align: left;
//    color: white;
//
//    border: none;
//    border-bottom: 2px solid $blue;
//    border-radius: 0;
//
//    background-color: $darkBlue;
//  }
//}
