<!--<div class="board">-->
<!--	<div-->

<!--		*ngFor="let indicator of indicators"-->
<!--		id="{{indicator.id}}"-->
<!--		class="indicators"-->
<!--	>-->
<!--		<div class="indicators__title">{{indicator.title}}</div>-->

<!--		<div-->
<!--			*ngFor="let child of indicator.children"-->
<!--			class="indicators__item"-->
<!--		>-->
<!--			<input-->
<!--          #indicator-->
<!--					(change)="onChangeIndicators($event)"-->
<!--					[checked]="child.checked"-->
<!--					type="checkbox"-->
<!--					id="{{child.id}}">-->
<!--			<label for="{{child.id}}">{{child.title}} {{bla}}</label>-->
<!--		</div>-->

<!--	</div>-->
<!--</div>-->

<!--<div class="companies-content">-->
<!--	<app-am-charts></app-am-charts>-->
<!--</div>-->


